<!-- <app-location></app-location>
<app-search></app-search>
<div class="container-fluid">
  <div class = "row">
<div *ngFor="let p of produit "   class="col-md-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]=p.img alt="Card image cap">
  <div  class="card-body">
    <a [routerLink]="['/product', p.id]"><h5 class="card-title">{{p.name}}</h5></a>
    <p class="card-text" [ngStyle]="{color:'green'}" *ngIf="p.price>200; else horstock ">{{p.price}}</p>
    <p class="card-text">{{p.description}}</p>
    <a [routerLink]="['product/edit/', p.id]" class="btn btn-primary">modifier</a>
    <button (click)="deleteProduct(p.id)">Delete</button>
    <ng-template #horstock ><p [ngStyle]="{color:'red'}"> {{p.price}} </p></ng-template>
  </div>
</div>
</div>
</div>
</div> -->
<app-location></app-location>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div *ngFor="let p of produit" class="col-md-3 mb-4">
      <div class="card h-100 shadow">
        <img class="card-img-top" [src]="p.img" alt="Product image">
        <div class="card-body d-flex flex-column">
          <a [routerLink]="['/product', p.id]">
            <h5 class="card-title">{{p.name}}</h5>
          </a>
          <p class="card-text flex-grow-1">{{p.description}}</p>
          <p class="card-text mb-3" [ngClass]="{'text-success': p.price > 200, 'text-danger': p.price <= 200}">
            {{p.price}}
          </p>
          <div class="mt-auto">
            <a [routerLink]="['product/edit/', p.id]" class="btn btn-primary mb-2">Edit</a>
            <button (click)="deleteProduct(p.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

